<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rmsauto.logger" type="RmsAuto.Store.Configuration.LoggerConfiguration,  RmsAuto.Store" />
  </configSections>
  <!-- настройки логгирования -->
  <rmsauto.logger work="on" logName="WebService.RmsAuto" applicationName="WebService.RmsAuto">
  </rmsauto.logger>
  <!-- строки подключения к базам данных -->
  <connectionStrings>
    <clear />
    <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1Ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Store.Cms.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Forum.Core.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.TechDoc.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.TechDoc.Properties.Settings.ex_tecdocsConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_tecdocs;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_logConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_log;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Acctg.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1Ctest;Initial Catalog=ex_rmsauto_store;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_commonConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_common;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DateTimeFormat" value="TimeFormat:ss" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="RmsAuto.Store.FranchSvcs.FranchService" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8091/ServiceMetadata" />
          </baseAddresses>
        </host>
        <endpoint address="FranchService" binding="basicHttpBinding" bindingName="defaultBinding" contract="RmsAuto.Store.FranchSvcs.IFranchService" behaviorConfiguration="LargeData" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="LargeData">
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>