<?xml version="1.0"?>
<!-- 
    The purpose of this file is to block access to the template files, that are not meant
    to be directly requested.
-->
<configuration>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime requestValidationMode="2.0"  />
    <pages validateRequest="false" />
  </system.web>
</configuration>