body,table,tr,td,p,ul,li,span, option, select,form, input, option {
	font-family: Tahoma;
	font-size: 11px;
	color:#000000;
}
body {
	margin: 0px;
	padding: 10px;
	background-color: #FFFFFF;
}
a {
	color:#34416d;
	text-decoration: underline;
}
h1 
{
    color:#455589;
    font-size:16px;
    padding:0px;
    margin:0px 0px 10px 0px;
}
h4 
{
    font-size:16px;
    padding:0px;
    margin:10px 0px 10px 0px;
}
h5 
{
    color:#455589;
}
a:hover {
	color:#455589;
	text-decoration: none;
}

.header {
	background-color: #455589;
	height:30px;
	color:#FFFFFF;
	padding:10px 10px 10px 10px;
	text-align:center;
}
.header h1 {
	color:#FFFFFF;
	margin: 0px;
	padding: 0px;
	font-size:16px;
}
.left {
	background-color: #e6e6e6;
}
.content {
	padding:20px;
}
.main {
	background-color: #ffffff;
}
.header_main {
	background-color: #bbc9e3;
	color:#003463;
	text-align:right;
}
.header_main a, .header_main a:hover {
	color:#455589;
}


.footer a {
	color:#f99404;
}

.ShowQuestion {
    background:url(../images/print_logo.en.png) no-repeat 0px 8px;
    border: green 1px;
}

ul.menu {
	padding:0px;
	margin:0px;
}
ul.menu li {
	padding:0px;
	margin:10px;
	list-style-type: none;
	font-size: 14px;
	font-weight: bold;
	color:#34416d;
}
ul.menu li a {
	font-size: 14px;
	font-weight: bold;
}
.wizard_btn input {
	background-color: #455589;
	color:#FFFFFF;
	padding:1px 5px;
}
.wizard_btn {
	text-align:right;
}
.wizard_left {
	padding-right:20px;
	vertical-align:top;
}
.btn input {
	background-color: #455589;
	color:#FFFFFF;
	padding:1px 5px;
}
td.reg_user input {
	width:200px;	
}
table.list 
{
    border-bottom:1px solid #bbc9e3;
    border-right:1px solid #bbc9e3;
}
table.list th 
{
	background-color: #d7e0f1;
	color:#003463;
	text-align:left;
}
table.list td, table.list th
{
    border-top:1px solid #bbc9e3;
    border-left:1px solid #bbc9e3;
    padding:3px;
}
table.list_all 
{
    border-bottom:1px solid #bbc9e3;
    border-right:1px solid #bbc9e3;
    width:550px;
}
table.list_all th 
{
	background-color: #d7e0f1;
	color:#003463;
	text-align:left;
    width:190px;
}
table.list_all td, table.list_all th
{
    border-top:1px solid #bbc9e3;
    border-left:1px solid #bbc9e3;
    border-bottom:0px;
    border-right:0px;
    padding:3px;
}

table.list_tovar 
{
}
table.list_tovar th 
{
	color:#003463;
	text-align:left;
}
table.list_tovar td, table.list_tovar th
{
    padding:5px;
    vertical-align:top;
}
.price 
{
    color:#c50215;
}
.wizard_right_form 
{
    /*border:1px solid #bbc9e3;*/
    height:200px;
    width:450px;
    vertical-align:top;
    padding:5px;
}
.wizard_left_form 
{
    vertical-align:top;
}
.wizard_left_form
{
    width:150px;
}
.wizard_left_form table
{
    width:150px;
    position:absolute;
    margin-right:-1px;
}
.wizard_left_form table tr td
{
    padding:5px;
}
.error 
{
    position:absolute;
    margin-right:-1px;
    width:450px;
    top:125px;
    left:300px;
    color:Red;
}
.kolvo 
{
    padding:5px 0px 0px 200px;
}
#TecdocImageView1_DataPager1 a 
{
	margin:0px 15px;
}