<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Laximo.Guayaquil.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Laximo.Guayaquil.Data.Properties.Settings>
            <setting name="Laximo_Guayaquil_Data_net_laximo_ws_Catalog" serializeAs="String">
                <value>https://ws.laximo.net/ec.Kito.WebCatalog/services/Catalog.CatalogHttpSoap11Endpoint/</value>
            </setting>
            <setting name="Laximo_Guayaquil_Data_net_laximo_ws_aftermarket_Aftermarket"
                serializeAs="String">
                <value>https://aws.laximo.net/ec.Kito.Aftermarket/services/Catalog.CatalogHttpSoap11Endpoint/</value>
            </setting>
        </Laximo.Guayaquil.Data.Properties.Settings>
    </applicationSettings>
</configuration>