<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="rmsauto.acctg">
			<section name="services" type="RmsAuto.Acctg.Configuration.ServiceProxyConfiguration, RmsAuto.Acctg"/>
			<section name="referenceCache" type="RmsAuto.Acctg.Configuration.ReferenceCacheConfiguration, RmsAuto.Acctg"/>
		</sectionGroup>
	</configSections>
	<!-- настройки подключения к учетной системе -->
	<rmsauto.acctg>
		<services url="http://1ctest.rmsauto.local/WebRef1C/ws/WebRef1C.1cws" username="test" password="test" traceEnabled="true" requestLimit="30"/>
		<referenceCache>
			<add name="Stores" expirationTimeout="2" connectTimeout="30000" errorCachingTimeout="2"/>
			<!-- old setting for Hansa -->
			<add name="Employees" expirationTimeout="2" connectTimeout="30000" errorCachingTimeout="2"/>
			<!-- old setting for Hansa -->
			<add name="Rates" expirationTimeout="2" connectTimeout="30000" errorCachingTimeout="2"/>
			<!-- old setting for Hansa -->
			<add name="Suppliers" expirationTimeout="2" connectTimeout="30000" errorCachingTimeout="2"/>
			<!-- old setting for Hansa -->
			<add name="Depts" expirationTimeout="2" connectTimeout="30000" errorCachingTimeout="2"/>
			<!-- old setting for Hansa -->
		</referenceCache>
	</rmsauto.acctg>
	<appSettings>
		<add key="InternalFranchName" value="rmsauto"/>
	</appSettings>
</configuration>