<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_logConnectionString"
            connectionString="Data Source=W2008R2SQL1\SQL1;Initial Catalog=ex_apecautoR_log;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_commonConnectionString"
            connectionString="Data Source=W2008R2SQL1\SQL1;Initial Catalog=ex_apecautoR_common;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_storeConnectionString"
            connectionString="Data Source=W2008R2SQL1\SQL1;Initial Catalog=ex_apecautoR_store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RmsAuto.Store.Properties.Settings.ex_apecautoR_logConnectionString"
            connectionString="Data Source=ADMIN-PC\ADM;Initial Catalog=ex_apecautoR_log;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>