<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="web.forum" type="RmsAuto.Forum.ForumConfigurationSection" />
    <section name="tecdoc.conf" type="RmsAuto.TechDoc.Configuration.TecdocConfiguration, RmsAuto.TechDoc" />
    <sectionGroup name="rmsauto.acctg">
      <section name="services" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
		<clear />
		<add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add name="RmsAuto.Store.Cms.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add name="RmsAuto.Forum.Core.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add name="RmsAuto.TechDoc.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_rmsauto_store;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

		<add name="RmsAuto.TechDoc.Properties.Settings.ex_tecdocsConnectionString" connectionString="Data Source=1ctest;Initial Catalog=ex_tecdocs_new;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <rmsauto.acctg>
    <services url="http://1ctest.rmsauto.local/WebRef1C/ws/WebRef1C.1cws" username="test" password="test" />
  </rmsauto.acctg>
  <web.forum connectionString="ex_rmsauto_storeConnectionString" forumName="RMS AUTO FORUM" pageSize="10" />
  <tecdoc.conf languageId="16" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>