<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="rmsauto.import">
      <section name="prices" type="RmsAuto.Store.Import.ImportConfigurationSectionHandler, RmsAuto.Store.Import"/>
      <section name="priceFactors" type="RmsAuto.Store.Import.ImportConfigurationSectionHandler, RmsAuto.Store.Import"/>
      <section name="crosses" type="RmsAuto.Store.Import.ImportConfigurationSectionHandler, RmsAuto.Store.Import"/>
      <section name="crosses_brands" type="RmsAuto.Store.Import.ImportConfigurationSectionHandler, RmsAuto.Store.Import"/>
      <section name="crosses_groups" type="RmsAuto.Store.Import.ImportConfigurationSectionHandler, RmsAuto.Store.Import"/>
      <section name="crosses_links" type="RmsAuto.Store.Import.ImportConfigurationSectionHandler, RmsAuto.Store.Import"/>
    </sectionGroup>
    <!--<sectionGroup name="rmsauto.acctg">
      <section name="services" type="RmsAuto.Acctg.Configuration.ServiceProxyConfiguration, RmsAuto.Acctg" />
    </sectionGroup>-->
    <section name="rmsauto.orderLineStatusSettings" type="RmsAuto.Store.Configuration.OrderLineStatusConfiguration, RmsAuto.Store"/>
    <section name="rmsauto.logger" type="RmsAuto.Store.Configuration.LoggerConfiguration"/>
  </configSections>

  <!-- настройки импорта -->
  <rmsauto.import>
    <!--
    Batch attributes in import sections have the following meaning:
    batchSize - size of batch in records
    batchTimeout - sql command timeout for the batch in seconds
    batchDelay - sleep delay after processing the batch either in milliseconds or in percents
    of batch executing time, in the latter case batchDelay value must be followed with % char
    -->
    <prices connectionStringName="ex_rmsauto_storeConnectionString" batchSize="5000" batchTimeout="500" batchDelay="50%" targetTable="dbo.SpareParts" csvDelimiterChar="\t" numberFormatInfo="en-US">
      <csvMetadata>
        <column name="RowNumber" type="BIGINT" excludeFromMapping="true"/>
        <column name="SizeID" type="INT" isNullable="false"/>
        <column name="Manufacturer" type="STRING" maxLength="50"/>
        <column name="PartNumber" type="STRING" maxLength="50"/>
        <column name="InternalPartNumber" type="STRING" isNullable="true"/>
        <column name="PartName" type="STRING" maxLength="255"/>
        <column name="PartDescription" type="STRING" isNullable="true" maxLength="255"/>
        <column name="WeightPhysical" type="DECIMAL" isNullable="true"/>
        <column name="WeightVolume" type="DECIMAL" isNullable="true"/>
        <column name="InitialPrice" type="DECIMAL"/>
        <column name="QtyInStock" type="INT" isNullable="true"/>
        <column name="DeliveryDaysMin" type="INT"/>
        <column name="DeliveryDaysMax" type="INT"/>
        <column name="SupplierID" type="INT"/>
        <column name="MinOrderQty" type="INT" isNullable="true"/>
        <column name="RgCode" type="STRING" isNullable="true"/>
        <column name="PriceConstantTerm" type="DECIMAL"/>
        <column name="SparePartGroupID" type="INT" isNullable="true"/>
		    <column name="Region" type="STRING" isNullable="true" />
      </csvMetadata>
    </prices>
    <priceFactors connectionStringName="ex_rmsauto_storeConnectionString" batchSize="5000" batchTimeout="500" batchDelay="50%" targetTable="dbo.PricingMatrixEntries" csvDelimiterChar="\t" numberFormatInfo="en-US">
      <csvMetadata>
        <column name="SupplierID" type="INT"/>
        <column name="Manufacturer" type="STRING" maxLength="50" isNullable="true"/>
        <column name="PartNumber" type="STRING" maxLength="50" isNullable="true"/>
        <column name="RgCodeSpec" type="STRING" isNullable="true"/>
        <column name="CorrectionFactor" type="DECIMAL"/>
        <column name="CorrectionFactor39" type="DECIMAL"/>
        <column name="CustomFactor1" type="DECIMAL"/>
        <column name="CustomFactor2" type="DECIMAL"/>
        <column name="CustomFactor3" type="DECIMAL"/>
        <column name="CustomFactor4" type="DECIMAL"/>
        <column name="CustomFactor5" type="DECIMAL"/>
        <column name="CustomFactor6" type="DECIMAL"/>
        <column name="CustomFactor7" type="DECIMAL"/>
        <column name="CustomFactor8" type="DECIMAL"/>
        <column name="CustomFactor9" type="DECIMAL"/>
        <column name="CustomFactor10" type="DECIMAL"/>
        <column name="CustomFactor11" type="DECIMAL"/>
        <column name="CustomFactor12" type="DECIMAL"/>
        <column name="CustomFactor13" type="DECIMAL"/>
        <column name="CustomFactor14" type="DECIMAL"/>
        <column name="CustomFactor15" type="DECIMAL"/>
        <column name="CustomFactor16" type="DECIMAL"/>
        <column name="CustomFactor17" type="DECIMAL"/>
        <column name="CustomFactor18" type="DECIMAL"/>
        <column name="CustomFactor19" type="DECIMAL"/>
        <column name="CustomFactor20" type="DECIMAL"/>
        <column name="CustomFactor21" type="DECIMAL"/>
        <column name="CustomFactor22" type="DECIMAL"/>
        <column name="CustomFactor23" type="DECIMAL"/>
        <column name="CustomFactor24" type="DECIMAL"/>
        <column name="CustomFactor25" type="DECIMAL"/>
        <column name="BeforeTime" type="INT" isNullable="true"/>
        <column name="OnTime" type="INT" isNullable="true"/>
        <column name="Delay" type="INT" isNullable="true"/>
        <column name="NonDelivery" type="INT" isNullable="true"/>
      </csvMetadata>
    </priceFactors>
    <crosses connectionStringName="ex_rmsauto_storeConnectionString" batchSize="5000" batchTimeout="500" batchDelay="50%" targetTable="dbo.SparePartCrosses" csvDelimiterChar="\t" numberFormatInfo="en-US">
      <csvMetadata>
        <column name="Manufacturer" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="PartNumber" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="ManufacturerOriginal" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="PartNumberOriginal" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="CrossType" type="TINYINT"/>
      </csvMetadata>
    </crosses>
    <crosses_brands connectionStringName="ex_rmsauto_storeConnectionString" batchSize="5000" batchTimeout="500" batchDelay="50%" targetTable="dbo.SparePartCrossesBrands" csvDelimiterChar="\t" numberFormatInfo="en-US">
      <csvMetadata>
        <column name="ManufacturerMain" type="STRING" maxLength="50"/>
        <column name="Manufacturer" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="Flag1" type="INT"/>
      </csvMetadata>
    </crosses_brands>
    <crosses_groups connectionStringName="ex_rmsauto_storeConnectionString" batchSize="5000" batchTimeout="500" batchDelay="50%" targetTable="dbo.SparePartCrossesGroups" csvDelimiterChar="\t" numberFormatInfo="en-US">
      <csvMetadata>
        <column name="GreatGroupID" type="INT"/>
        <column name="GroupID" type="INT"/>
        <column name="Manufacturer" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="PartNumber" type="STRING" maxLength="50" deletionKey="true"/>
        <column name="Flag1" type="INT"/>
        <column name="Flag2" type="INT"/>
      </csvMetadata>
    </crosses_groups>
    <crosses_links connectionStringName="ex_rmsauto_storeConnectionString" batchSize="5000" batchTimeout="500" batchDelay="50%" targetTable="dbo.SparePartCrossesLinks" csvDelimiterChar="\t" numberFormatInfo="en-US">
      <csvMetadata>
        <column name="GreatGroupID1" type="INT" deletionKey="true"/>
        <column name="GreatGroupID2" type="INT" deletionKey="true"/>
        <column name="Flag1" type="INT"/>
      </csvMetadata>
    </crosses_links>
  </rmsauto.import>

  <!-- настройки подключения к 1C -->
  <!--<rmsauto.acctg>
    <services url="http://notexisturl" username="test" password="test" />
  </rmsauto.acctg>-->

  <!-- настройки статусов строк заказа -->
  <rmsauto.orderLineStatusSettings>
    <add status="New" displayName="новый заказ" isFinal="false" requiresClientReaction="false"/>
    <add status="Cancelled" displayName="отменен клиентом" isFinal="true" requiresClientReaction="false" excludeFromTotalSum="true"/>
    <add status="Received" displayName="заказ принят" isFinal="false" requiresClientReaction="false"/>
    <add status="WaitingForPayment" displayName="приостановлен" isFinal="false" requiresClientReaction="false"/>
    <add status="OrderedFromSupplier" displayName="отправлен поставщику" isFinal="false" requiresClientReaction="false"/>
    <add status="ShippedBySupplier" displayName="??отгружено поставщиком??" isFinal="false" requiresClientReaction="false"/>
    <add status="RefusedBySupplier" displayName="поставка невозможна" isFinal="true" requiresClientReaction="false" excludeFromTotalSum="true"/>
    <add status="Discontinued" displayName="фальшномер" isFinal="true" requiresClientReaction="false" excludeFromTotalSum="true"/>
    <add status="QuantityAdjustment" displayName="изменение количества" isFinal="false" requiresClientReaction="false"/>
    <add status="PriceAdjustment" displayName="изменение цены" isFinal="false" requiresClientReaction="true"/>
    <add status="ShipmentDelay" displayName="задержка" isFinal="false" requiresClientReaction="true"/>
    <add status="PartNumberTransition" displayName="переход номера" isFinal="false" requiresClientReaction="true"/>
    <add status="Approved" displayName="подтвержден клиентом" isFinal="false" requiresClientReaction="false"/>
    <add status="InStock" displayName="поступило на склад" isFinal="false" requiresClientReaction="false"/>
    <add status="ReadyForDelivery" displayName="готов к выдаче" isFinal="false" requiresClientReaction="false"/>
    <add status="InTransitToClient" displayName="доставляется клиенту" isFinal="false" requiresClientReaction="false"/>
    <add status="ReceivedByClient" displayName="получен клиентом" isFinal="true" requiresClientReaction="false"/>
    <add status="Rejected" displayName="техническая отмена" isFinal="true" requiresClientReaction="false" excludeFromTotalSum="true"/>
    <add status="NonDelivery" displayName="выдача невозможна" isFinal="true" requiresClientReaction="false"/>
    <add status="Returned" displayName="??возвращено клиентом??" isFinal="true" requiresClientReaction="false"/>
    <add status="Processing" displayName="обработка" isFinal="false" requiresClientReaction="false"/>
    <add status="NotFoundInStock" displayName="не найден" isFinal="false" requiresClientReaction="false"/>
    <add status="ReadyForShipment" displayName="перемещается в магазин" isFinal="false" requiresClientReaction="false"/>
  </rmsauto.orderLineStatusSettings>

  <appSettings>
    <!-- папки с файлами для импорта -->
    <add key="pricePickupPath" value="C:\work\APeC\apecgit\RmsAuto.Store.Web\Manager\prices"/>
    <add key="priceFactorPickupPath" value="\\srvdev\ftp\price_factors"/>
    <add key="crossPickupPath" value="\\srvdev\ftp\crosses"/>
    <add key="crossBrandsPickupPath" value="\\srvdev\ftp\crosses_brands"/>
    <add key="crossGroupsPickupPath" value="\\srvdev\ftp\crosses_groups"/>
    <add key="crossLinksPickupPath" value="\\srvdev\ftp\crosses_links"/>

    <!-- периодичность работы сервисов -->
    <add key="importPollingSeconds" value="60"/>
    <add key="statusPollingSeconds" value="60"/>
    <add key="notificationPollingSeconds" value="3600"/>
		<add key="recNotificationPollingSeconds" value="3600"/>

    <!-- настройки логгирования -->
    <add key="logDetails" value="true"/>
    <add key="logEncoding" value="windows-1251"/>
    <add key="traceMode" value="true"/>
    <!--
    logDetails - causes writing of .err file
    logEncoding - .err file encoding
    traceMode - causes writing trace messages to EventLog
    -->
    <!-- Если кука отсутсвует то берем отсюда -->
    <add key="InternalFranchName" value="rmsauto"/>
    <add key="UseLock" value="false"/>
		<add key="IsLight" value="false"/>
  </appSettings>

  <!-- строки подключения к базам данных -->
  <connectionStrings>
    <clear/>

    <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store; Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Store.Cms.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_commonConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_common;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Store.Properties.Settings.ex_rmsauto_logConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_log;Persist Security Info=True;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Forum.Core.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.TechDoc.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Acctg.Properties.Settings.ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store;Persist Security Info=True;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.Acctg.Properties.Settings.ex_rmsauto_commonConnectionString" connectionString="Data Source=37.46.80.222M;Initial Catalog=ex_apecautoR_common;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.TechDoc.Properties.Settings.ex_tecdocsConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=tecdoc_new;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <!-- настройки SMTP -->
      <smtp deliveryMethod="Network" from="spareautocom@yandex.ru">
        <network host="mail.yandex.ru" port="25" userName="spareautocom@yandex.ru" password="db76as" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebRef1CSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://notexisturl" binding="basicHttpBinding" bindingConfiguration="WebRef1CSoapBinding" contract="WebRef1C.WebRef1CPortType" name="WebRef1CSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
